@import "tailwindcss";

/* Variables básicas */
:root {
  --color-primary: #0055AA;
  --color-secondary: #003366;
  --color-accent: #FFCC00;
  --color-white: #FFFFFF;
}

body {
  background-color: #F5F7FA;
  color: #333333;
}
}
